@font-face {
    font-family: 'schoolbellregular';
    src: url('fonts/schoolbell-webfont.woff2') format('woff2'),
         url('fonts/schoolbell-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'schoolbellregular', 'Courier New', sans-serif;
}

html {
    background-image: url('volodymyr-dobrovolskyy-prdrKa0lPDg-unsplash.jpg');
    background-size: cover;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    justify-items: center;
}

.header {
    margin: 50px 0 0 0;
    text-align: center;
}

.header h1 {
    letter-spacing: 0.3rem;
}

.winner-announce {
    display: none;
}

.board-and-button {
    justify-items: center;
}

.board {
    width: clamp(100px, 50vh, 100vw);
    height: clamp(100px, 50vh, 100vw);
    margin: 20px 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.board button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.refresh {
    display: none;
}

.color-0 {
    background:
    radial-gradient(70% 14% ellipse at 50% -10px, rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0)), linear-gradient(to right, rgb(20, 20, 70), rgb(54, 54, 184) 10% 90%, rgb(20, 20, 70));
    
}

.color-1 {
    background: radial-gradient(70% 14% ellipse at 50% -10px, rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0)), linear-gradient(to right, rgb(104, 20, 20), rgb(247, 59, 59) 10% 90%, rgb(104, 20, 20));
}

.color-2 {
    background: radial-gradient(100% 14% ellipse at 50% -1px, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), linear-gradient(to right, rgb(194, 194, 2), rgb(255, 255,0) 10% 90%, rgb(194, 194, 2))
}