

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    justify-items: center;
}

.header {
    text-align: center;
}

.board {
    width: clamp(100px, 50vh, 100vw);
    height: clamp(100px, 50vh, 100vw);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    height: 100%;
    width: 100%;
}